<form action="/login.do" method="post">
    <input type="hidden" name="loginNameTypeEnum" value="NAME"/>
    name:<input type="text" name="loginName" value=""/><br/>
    password:<input type="text" name="password" value=""/><br/>
    <input type="submit" value="登录"/>
</form>
